<%= link_to "< Back to all users", users_path %>
<div class="p-4 shadow border rounded mt-4">
  <div class="flex flex-row-reverse">
    <%= link_to 'Edit', edit_user_path(@user), { class: 'text-blue-600' } %>
  </div>
  <div class="mb-2"><span class="font-medium">Username:</span> <%= @user.username %></div>
  <div class="mb-2"><span class="font-medium">Email:</span> <%= @user.email %></div>
</div>
