<div class="flex justify-center mb-3 mt-5">
    <h1 class="text-4xl font-semibold text-center">Welcome to Link Pages</h1>
</div>
<div class="flex justify-center">
    <%= link_to "Sign Up Now", new_user_registration_path, class: "bg-blue-600 py-2 px-3 text-white rounded"  %>
</div>

