<header class="text-center mb-5">
    <h2 class="text-5xl font-semibold"><%= @link_page.name %></h2>
    <divs>Links from <%= @link_page.user.username %></divs>
</header>

<ul class="text-center">
    <% @link_page.links.each do |link| %>
        <li class="mb-2">
            <%= link_to link.name, visit_link_path(link), class: "block px-3 py-2 border shadow hover:bg-blue-200" %>
        </li>
    <% end %>
</ul>
