<header class="mb-4">
    <h1 class="text-3xl font-bold">Link Pages</h1>
</header>
<ul>
    <div class="flex flex-row-reverse mb-4">
        <%= link_to "Create Link Page", new_link_page_path, { class: "p-3 bg-blue-600 hover:bg-blue-700 text-white rounded" } %>
    </div>
    <% @link_pages.each do |link_page| %>
        <li class="border relative mb-2 rounded shadow hover:border-blue-300 p-4">
            <%= link_to "", link_page_path(link_page), { class: 'w-full absolute h-full' } %>
            <span><%= link_page.name %></span>
            <span class="text-gray-600"><%= link_page.slug %></span>
        </li>
    <% end %>
</ul>
